<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.lawrence.superheroconnections">

    <dist:module
        dist:instant="false"
        dist:title="@string/title_superheroconnections">
        <dist:delivery>
            <dist:on-demand />
        </dist:delivery>

        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity android:name=".ConnectionActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name=
                    "''com.lawrence.superherodynamic''.superheroconnections.ConnectionActivity" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>